{% extends 'base.html' %}
{% block content %}
    <style>
    ,bg-index{

    }
    </style>

    <div class="jumbotron bg-index text-white text-center ">
        <h1>PokéTrade</h1>
        <h4>Welcome to the Pokemon TCG</h4>
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'accounts.signup' %}" class="btn btn-primary btn-lg">Play For Free</a>
            </div>
        </div>
    </div>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
          <h2></h2>>
      </div>
    </div>
  </div>
</div>

    <div class="p-4"

{% endblock content %}