{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Marketplace Listings</h2>
                <hr />
            </div>
        </div>
    <div class="row">
        {% for listing in template_data.listings %}
        <div class="col-md-4 col-lg-3 mb-2">
            <div class="p-2 card align-items-center pt-4">
            <img src="{% static 'img/about.jpg' %}"
            class="card-img-top rounded">
                <div class="card-body text-center">
                    <a href="{% url 'marketListings.show' id=listing.id %}"
                    class="btn bg-dark text-white">
                {{ listing.item.pokemon.name }}
                    </a>
                </div>
                {{listing.price}}
                <p class="card-text">
 <form method="post" action="{% url 'cart.add' id=listing.id %}">
<div class="row">
{% csrf_token %}
<div class="col-auto">
<div class="input-group col-auto">

</div>
</div>
<div class="col-auto">
<button class="btn bg-dark text-white"
type="submit">Add to cart</button>
</div>
</div>
</form>
</p>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
