{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="p-3">
  <div class="container">

    <!-- Search Bar Section -->
    <div class="row mb-4">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="container-fluid">
                <h2 class="pokemon-title me-4 mb-0">Collection</h2>
                <form class="d-flex" method="GET" action="">
                    <input class="form-control me-2" type="search" placeholder="Search Pokémon" aria-label="Search" name="search" value="{{ request.GET.search }}">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>


    <!-- Pokémon Cards Grid -->
    <div class="row">
      {% for item in user_pokemon_list %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="{% url 'collection.detail' id=item.id %}" style="text-decoration: none; color: inherit;">
          <div class="card text-center p-2 {% if item.status == 'listed' %}border-danger{% endif %}">
              {% if item.status == 'pending' %}
            <div class="position-absolute" style="top: 5px; left: 5px; font-size: 20px;">
              <span style="color: #ffc107;">&#9733;</span>  {# solid yellow star #}
            </div>
            {% endif %}
            <img src="{{ item.pokemon.image_url }}" class="card-img-top" style="width: 80px; margin: auto;" alt="{{ item.pokemon.name }}">
            <div class="card-body p-1">
              <h5>{{ item.pokemon.name }}</h5>
            </div>
          </div>
        </a>

      </div>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock content %}